/* Default styles for the app */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

.App {
  text-align: center;
}

/* Background for Home, Community, and Reports sections */
.home-section, .community-section, .reports-section {
  background-image: url('assets/background.png'); /* Ensure the path is correct */
  background-size: cover; /* Makes the image cover the entire section */
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  min-height: 100vh;
}

/* Background for Alerts section */
.alerts-section {
  background-image: url('assets/background.png'); /* Ensure the path is correct */
  background-size: cover; /* Makes the image cover the entire section */
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  min-height: 100vh;
}

/* Other styling */
.dashboard {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
}

.app-container {
  min-height: 100vh;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  color: white;
  border-radius: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -20px;
}

.home-card {
  background: rgba(0, 0, 0, 0.6); /* Black with 60% opacity */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  width: 60%;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-title {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.weather-info {
  font-size: 1.2rem;
  line-height: 1.5;
}

.chart-section {
  margin-top: 20px;
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
